
<div class="login">
  <div nz-row class="card" style="width: 450px;">
    <div nz-col nzSpan="24">
      <div class="overlay">
        <img
          src="../../../../assets/warehouse.png"
          alt="logo"
        />
      </div>
      <div nz-col class="login-container" nzXs="24" nzLg="12">
        <form
          nz-form
          [formGroup]="form"
          class="login-form"
          (ngSubmit)="login()"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Debe ingresar un usuario.">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="username"
                  placeholder="Usuario"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Debe ingresar una contraseña.">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="password"
                  nz-input
                  formControlName="password"
                  placeholder="Contraseña"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row class="login-form-password">
            <div nz-col [nzSpan]="24">
              <a class="login-form-forgot">Did you forget your password?</a>
            </div>
          </div>
          <button
            nz-button
            nzType="primary"
            [nzLoading]="isLoading"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

