
.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    max-width: 70%;
    border-radius: 12px;
    box-shadow: 0 4px 25px 0 rgba(blue, 0.35);
    justify-content: center;

    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10% 10% 5% 10%;

      img {
        margin: auto 0;
        max-width: 70%;
      }
    }
  }

  .login-container{
    padding: 5% 10% 10% 10%;
    max-width: 100%;

    .login-form {
      .login-form-password {
        margin-bottom: 16px;
        text-align: center;
      }

      button {
        width: 100%;
      }
    }
  }
}
