<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <div nz-row [nzGutter]="6">
      <div nz-col [nzSpan]="23">

      </div>
      <div nz-col>
        <span style=" font-size: 15px; font-weight: 600;"></span>
      </div>
      <div nz-col>
        <nz-avatar [nzIcon]="'logout'" [nzSize]="40"
          nz-tooltip
           (click)="logout()"
          [nzTooltipMouseEnterDelay]="0.8" nzTooltipTitle="Cerrar sesión">
        </nz-avatar>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Administration">
          <ul>
            <li nz-menu-item nzSelected>Warehouse</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content> <router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
