/* You can add global styles to this file, and also import other style files */
body {
}
.page {
  background-color: #fff;
}
.selector {
  cursor: pointer;
}
.ant-table tfoot > tr > td,
.ant-table tfoot > tr > th,
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  padding: 8px !important;
  font-size: 13px !important;
}

#map {
  width: 100%;
  height: 100%;
}

.panel-div {
  text-align: center;
  height: 48vh;
}

.text-uppercase {
  text-transform: uppercase;
}
.action {
  padding: 5px;
  border: solid 1px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}

.action label {
  padding: 3px;
}
.action-blue {
  background-color: #1890ff;
  color: #ffff;
}

.action-red {
  background-color: #ff5618;
  color: #ffff;
}
