<section>
  <nz-page-header
    class="site-page-header"
    nzTitle="Warehouse"
    nzSubtitle="Search for warehouse near the selected address">
  </nz-page-header>
  <div class="page">
    <nz-card nzTitle="Search for nearby warehouse">
      <div nz-row>
        <div nz-col nzSpan="8">
          <form nz-form>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">Address</nz-form-label>
              <nz-form-control [nzSpan]="14">
                <input class="text-uppercase" nz-input [(ngModel)]="address"
                  [ngModelOptions]="{standalone: true}">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="email">Count points</nz-form-label>
              <nz-form-control [nzSpan]="6">
                <nz-input-number [(ngModel)]="count" [nzMin]="1" [nzMax]="10"
                  [nzStep]="1" [ngModelOptions]="{standalone: true}"></nz-input-number>
              </nz-form-control>
              <nz-form-control [nzSpan]="8" [nzOffset]="4">
                <nz-space>
                  <button *nzSpaceItem nz-button nzType="default" [nzLoading]="showSpinner"
                    [nzLoading]="isLoading"
                    (click)="draw()"><span
                      nz-icon nzType="search" nzTheme="outline"></span>Search</button>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </form>
          <nz-collapse>
            <nz-collapse-panel nzHeader="Information" nzActive="true">
              <nz-table #table [nzData]="listOfWarehouse"
                nzTableLayout="fixed" nzShowPagination="false">
                <thead>
                  <tr>
                    <th>
                      Code
                    </th>
                    <th>
                      Address
                    </th>
                    <th>
                      Distance
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of table.data">
                    <td>{{ data.code }}</td>
                    <td>{{ data.address }}</td>
                    <td>{{ data.distance }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-collapse-panel>
            <nz-collapse-panel nzHeader="Directions (Car)">
              <div id="panel" [hidden]="isLoading">
              </div>
            </nz-collapse-panel>
          </nz-collapse>
        </div>
        <div nz-col nzSpan="16"><wh-map #mapComponent></wh-map></div>
      </div>
    </nz-card>
  </div>
</section>
