<section>
  <nz-page-header
    class="site-page-header"
    nzTitle="Warehouse"
    nzSubtitle="Warehouse list">
  </nz-page-header>
  <div class="page" style="padding: 10px;">
    <nz-collapse>
      <nz-collapse-panel
        nzHeader="Filters"
        [nzExtra]="extraTpl">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="code, name, state ...."
            [(ngModel)]="search" (keyup)="filter()"/>
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span class="selector" nz-icon nzType="close-circle"
            (click)="search='';filter()"></span>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>
    <br>
    <nz-table #table [nzData]="listOfWarehouseFiltered" nzTableLayout="fixed"
      [nzPageSize]="15">
      <thead>
        <tr>
          <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn">
            {{ column.name }}
          </th>
          <th [nzWidth]="'70px'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data">
          <td>{{ data.code }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.state }}</td>
          <td>{{ data.county }}</td>
          <td>{{ data.zip }}</td>
          <td>{{ data.address }}</td>
          <td><nz-space>
              <span class="selector" *nzSpaceItem nz-icon nzType="edit"
                nzTheme="outline" (click)="showDrawer(data.id)"></span>
              <span class="selector" *nzSpaceItem nz-icon nzType="delete"
                nzTheme="outline" nz-popconfirm
                nzPopconfirmTitle="Are you sure?"
                nzOkText="ok"
                nzCancelText="cancel"
                (nzOnConfirm)="deleteConfirm(data.id)">
              </span>
            </nz-space>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-template #extraTpl>
    <span class="action action-blue" nz-icon nzType="setting"
      (click)="showDrawer();$event.stopPropagation();"> <label> Add new</label></span>
    <span class="action action-red" nz-icon nzType="setting" *ngIf="isManager"
      (click)="showNearest();$event.stopPropagation();"><label> Nearest </label></span>
    <span class="action" nz-icon [nzType]="excelIcon"
      (click)="export();$event.stopPropagation();"><label> Export </label></span>
  </ng-template>
