<section>
  <nz-page-header
    class="site-page-header"
    nzTitle="Warehouse"
    nzSubtitle="Add and edit a warehouse">
  </nz-page-header>
  <div class="page">
    <nz-card nzTitle="Register">
      <div nz-row>
        <div nz-col nzSpan="12">
          <form nz-form [formGroup]="form">
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="code" nzRequired>Code</nz-form-label>
              <nz-form-control [nzSpan]="6" nzErrorTip="This field is required">
                <input class="text-uppercase" nz-input name="code"
                  formControlName="code"
                  maxlength="10">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="name" nzRequired>Name</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="This field is
                required">
                <input class="text-uppercase" nz-input name="name"
                  formControlName="name"
                  maxlength="250">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="state" nzRequired>State</nz-form-label>
              <nz-form-control [nzSpan]="10" nzErrorTip="This field is
                required">
                <nz-select (ngModelChange)="stateChange($event)"
                  formControlName="state">
                  <nz-option *ngFor="let s of statesList" [nzValue]="s?.id"
                    [nzLabel]="s?.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="county">County</nz-form-label>
              <nz-form-control [nzSpan]="10">
                <nz-select formControlName="county"
                  (ngModelChange)="countyChanged()">
                  <nz-option *ngFor="let s of countyList" [nzValue]="s?.id"
                    [nzLabel]="s?.name"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="zip">Zip</nz-form-label>
              <nz-form-control [nzSpan]="6">
                <input nz-input class="text-uppercase" name="zip"
                  formControlName="zip" maxlength="10">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="6" nzFor="address" nzRequired>Address</nz-form-label>
              <nz-form-control [nzSpan]="12" nzErrorTip="This field is
                required">
                <nz-input-group nzSearch [nzSuffix]="suffixIcon">
                  <input class="text-uppercase" nz-input name="address"
                    formControlName="address"
                    maxlength="250" (keyup)="updateMap= true">
                </nz-input-group>
                <ng-template #suffixIcon>
                  <span *ngIf="updateMap" nz-icon class="selector"
                    (click)="setMarker()"
                    nzType="pushpin"></span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzSpan]="8" [nzOffset]="6">
                <nz-space>
                  <button *nzSpaceItem nz-button nzType="default" nzDanger
                    (click)="close()"><span
                      nz-icon nzType="close-circle" nzTheme="outline"></span>Cancel</button>
                  <button *nzSpaceItem nz-button nzType="primary" [nzLoading]="isSaving"
                    (click)="save()"><span nz-icon
                      nzType="save" nzTheme="outline"></span>Save</button>
                </nz-space>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div nz-col nzSpan="12"><wh-map #mapComponent
            (onChange)="onChangeMarkert($event)"></wh-map></div>
      </div>
    </nz-card>
  </div>
</section>
